@import '../../global-scss/vars.scss';

.main {
  width: 100%;
  min-height: 100vh;
  
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;

  background: $good-yellow;

  overflow: auto;

  &::-webkit-scrollbar {
    display: none;
  }
}
