$true-black: #000000;
$evil-blue: #003049;
$true-red: #D62828;
$evil-red: #871414;
$true-orange: #F77F00;
$true-yellow: #FCBF49;
$good-yellow: #EAE2B7;
$just-white: white;
$ligth-green: #B8EAB7;
$evil-green: #395339;


